@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.App {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.content {
  padding: 1rem;
}

.library-page{
  background: #F0FDFA;
  height: fit-content;
  border-radius: 20px;
  padding-bottom: 25px;
  padding-top: 10px;
}


.descriptionText{
  text-align: justify;
  display: flex
}

.auth-page{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}